* {
  margin: 0;
  padding: 0;
  font-family: "micross";
}

@font-face {
  font-family: "micross";
  src: local("micross"), url("../font/micross.ttf");
}

a {
  text-decoration: none !important;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  position: sticky;
  align-items: center;
  justify-content: end;

  .previous,
  .next {
    margin: 0px 10px;
    text-decoration: none;
  }
  .canonical {
    border: 1px solid rgb(2, 41, 4);
  }
  li {
    margin: 0 5px;
    display: inline-block;
    cursor: pointer;
    color: white;
    padding-top: 1px;
  }
  li.active {
    font-weight: bold;
    color: #0bc6fb;
    margin: 0;
  }
}
