#Upload {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    width: 200px;
    height: 200px;
    background: linear-gradient(
      121.34deg,
      rgba(255, 29, 210, 0.2) 0%,
      rgba(255, 119, 135, 0.4) 100%
    );
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .upLoad {
      cursor: pointer;
      button{
        background-color: transparent !important;
      }
    }
  }
}
